.smallImage {
    height:200px;
    width:200px
}
.mediumImage {
    height: 300px;
    width: 400px
}

.largeImage {

    height: 500px;
    width: 700px

}
.button {
    border: none;
    color: white;
    padding: 50px 45 px;
    text-align: center;
    display: inline-block;
    font-size: 20;
    background-color: rgb(107, 107, 204);
}

h2, h3 {

    color: rgb(107, 107, 204);
}

h1 {
    color: Black
}