{% extends 'base.html' %}
{% block title %}All Photos{% endblock %}

{% block body %}
<div class="container">
 
  <h2> Welcome! {{user.fname}} {{user.lname}}, Here is my list of Photos</h2>
  <br>
  
    <!--   <ul>
        
        <li><a href="/user_details/{{session['user_id']}}">View my data</a></li>
      </ul> -->
        
      <!-- <form action= "/logout_user" method = "POST">
        <p>
        <input type="submit" value="Sign out">
      </p>
      </form> -->
    
  
  
    {% for photo in photos %}
    <div class="row mb-3">
      
      <!--   <div class=" media" >
          <img src="/static/{{photo.img_path}}" class="mr-3 mediumImage" alt="...">
          <div class="media-body ">
              <h5 class="mt-0"> {{ photo.location }} </h5>
              <p class="">{{ photo.description }}</p>
              <a href="/all_photos/{{ photo.photo_id }}" class="btn btn-primary">More Details</a>
          </div>
            
        </div> -->

        <div class="card mb-3" style="max-width: 1000 px;" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/{{photo.img_path}}" class="card-img " alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ photo.location }}</h5>
                <p class="card-text">{{ photo.description }}</p>
                <a href="/all_photos/{{ photo.photo_id }}" class="btn btn-secondary">More Details</a>
              </div>
            </div>
          </div>
        </div>
     
    </div>
 
     <!--  <li>
        <a href="/all_photos/{{ photo.photo_id }}">
         
          <img class="mediumImage" src="/static/{{photo.img_path}}">
          {{ photo.location }}
        </a>
       

        
      </li> -->
    {% endfor %}
  

</div>
{% endblock %}