{% extends 'base.html' %}

{% block title %} Hello  {% endblock %}

{% block body %}
<div class = "container">
    <h2 class="text-center mt-4">  Hello! {{ user.fname }} {{user.lname}}</h2>
<br>

<br>

    <div class="row">
        <div class="col">
            <h3> Your Favorite Photos</h3>
            {%for photo in user_fav_photos %}

            <div class="row mb-3">
                <div class="card border-info mb-3" style="max-width: 500px;" >
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/static/{{photo.img_path}}" class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.location }}</h5>
                            <p class="card-text">{{ photo.description }}</p> 
                            <a href="{{photo.popular_url}}" target="_blank">{{photo.location}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
        
            </div>
            {% endfor %}

        </div>

        <div class="col">
                <h3> Your Critiques </h3>

                {%for rating_rec in user_rated_recs %}

                <div class="row mb-3">
                    <div class="card border-info mb-3" style="max-width: 500px;" >
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            
                            <img src="/static/{{rating_rec.photo.img_path}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ rating_rec.photo.location }}</h5>
                                <p class="card-text">Comment: {{rating_rec.comments}}</p>
                                <p class="card-text">Rating: {{rating_rec.rating}}</p>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
            
        </div>
       

    </div>
  
    




    

</div>
{% endblock %}