{% extends 'base1.html' %} -->
{% block title %} Photo Viewing  Home {% endblock %} 

{% block body %}
  <h1>Hello! Welcome to Durga's Photos Viewing</h1>

  <!-- <h2>Navigation</h2>
  <ul>
    <li><a href="./static/data/images/">View all of my photos</a></li>
    <li><a href="/my_data">View my data</a></li>
  </ul> -->
  <!-- <h2> If you have an account with me, Please sign in</h2> -->
  <form action="/login_user" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit" value="Sign in">
    </p> </form>


  <h2>If you do not have an account, Please Register. Thanks!</h2>
  <form action="/register_user" method="POST">
    <p>
      First Name <input type="text" name="fname" required>
    </p>
    <p>
      Last Name <input type="text" name="lname" required>
    </p>
    <p>
      Email <input type="text" name="email"  required>
    </p>

    <p>
      Password <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit" value="Register">
    </p>
  </form>
{% endblock %}