{% extends 'base1.html' %} 
{% block title %} Photo Viewing  Home {% endblock %} 

{% block body %}
<style>
  body {
    background-image: url('/static/data/images/img29.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
  /* table {
    border: 2px black solid; */
  p {
    font-size: 20px;
    color:black
}
</style> 

<div class="jumbotron id= jumbo text-center">
  <h1>Welcome to ArtCritique </h1>
  <p>Browse, rate and critique art</p>
</div>
 <div class="container">
   <div class="row">
     <div class="col">
        <form action="/login_user" method="POST">

          <div class="form-group row">
            <label for="inpEmail" class="col-sm-2 col-form-label ">Email</label>
            <div class="col-sm-9">
            <input  type="email" id="inpEmail" class="form-control" name="email">
          </div>
          </div>

          <div class="form-group row">
            <label for="inpPassword" class="col-sm-2 col-form-label">  Password </label>
            <div class="col-sm-9">
              <input type="password" id="inpPassword" class="form-control" name="password">
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <input type="submit" value="Sign in">
          </div>
        </form>
      </div>

      <div class="col">
        <form action="/register_user" method="POST">
          <div class="form-group row">
            <label for="inpFname" class="col-sm-2 col-form-label">FirstName </label>
            <div class="col-sm-9">
             <input type="text" id="inpFname"  class="form-control" name="fname" required>
            </div>
         </div>
         <div class="form-group row">
          <label for="inpLname" class="col-sm-2 col-form-label">LastName </label>
          <div class="col-sm-9">
             <input type="text" id="inpLname" class="form-control"  name="lname" required>
            </div>
         </div>
          
         <div class="form-group row">
          <label for="inpEmailReg" class="col-sm-2 col-form-label">Email </label>
          <div class="col-sm-9">
             <input type="text" name="email" id="inpEmailReg" class="form-control"   required>
          </div>
        </div>
          
        <div class="form-group row">
          <label for="inpPasswordReg" class="col-sm-2 col-form-label">Password </label>
          <div class="col-sm-9">
            <input type="password" id="inpPasswordReg" class="form-control" name="password" required>
          </div>
          </div>
          <div class="col-sm-12 text-center">
            <input type="submit" value="Register">
          </div> 
        </form>
      </div>
    </div>

  </div>
{% endblock %}