{% extends 'base.html' %}

{% block title %}{{ photo.location }} - Details{% endblock %}

{% block body %}

<h1>{{ photo.location }}</h1>

<h2>Navigation</h2>
  <ul>
    <li><a href="/all_photos">View all of my photos</a></li>
    
    
  </ul>
<p>
  {{ photo.description }}
</p>

<img src="/static/{{ photo.img_path }}">

<form action="/create_rating" method="POST">
  <div>
    <br>
      <label for="rating">Please rate this picture:</label>
        <select name= "rating">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
  </div>
  <div>
    <br>
    <label for="comments">Please comment on this picture:</label>
    <input type="text" name="comments" size="50">
  </div>
  <p>
    <input type="submit" value="submit">
  </p> 
  
</form>
<br>
<form action ="/create_fav_photo" method = "POST">
  <div>
    <button class= "button">Favorite photo</button>
  </div>
</form>
<br>
<form action ="/stats_on_photo" method = "POST">
  <div>
    <button class ="button">Get Statastics of Photo</button>
  </div>
</form>
<br>
<br>
<form>
  <p>For more details, click on these links</p>
  <br>
  <!-- <a href="{{photo.gps_url}}" target="_blank">{{photo.location}} - Popular link</a>
  <br> -->
  <!-- <br> -->
  <a href="{{photo.popular_url}}" target="_blank">{{photo.location}} - Popular link</a>
</form>


{% endblock %}
