<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>photoClick – JavaScript</title>
    <style>
      #map{
          height: 400px;
          width: 50%;
      }
  </style>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>

  <h2>Navigation</h2>
    <ul>
      <li><a href="/all_photos">View all of my photos</a></li>
    </ul>

</script>

    <body>
      <h1>The statistics on the photo</h1>
      <div id='img_details_div'></div>
      <br>
      <div id='gps_url_div'></div>
      <br>
      <div id='popular_url_div'></div>
            
      <div id = 'count'> </div>
      
      <div id='users_details_div'></div>

      <div id="map"></div>

      <div id="test_div"></div>
        
    <script src="/static/photoClick.js"></script>
    <script src="/static/mapsScript.js"></script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe01Xbvf5tSBwKnx0nJo7OdS1sLQN1el0&callback=initMap">
    </script>

      
    </body>
</html>
